<h1>Editing Smart Water Care Model</h1>

<%= render 'form', smart_water_care_model: @smart_water_care_model %>

<%= link_to 'Show', @smart_water_care_model %> |
<%= link_to 'Back', smart_water_care_models_path %>
