default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: 5
  database: 'smartwatercare' 
  username: 'deploy'
  # password:  <%= ENV['DB_PASSWORD'] %>

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default


